/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    
}


a:hover {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


img {
    vertical-align: top;
}

html, body {
    height: 100%;
  }


body{
    font-family: 'Heebo';
    font-size: 100%; /* по умолчанию */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
} 


.page-container{
    max-width: 856px;
    margin: 0 auto;
}

/* HEADER */

.header{
    flex: 0 0 auto;
}



.menu {
    max-width: 500px;
    margin: 0 0 auto auto;
    padding: 35px 0;

}

.menu-list {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-list:nth-child(odd){
    margin-left: 0;
} 


.menu-list__item {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;

}
.menu-list__link {
    color: #000;
}

.menu-list__link:hover{
color: #FF6464;
}

.menu-list__link-red{
    color: #FF6464;
}

.header-body {
display: flex;
justify-content: space-between;
}



/* Меню бургер */
.hamburger-menu{
position: relative;
top: 0;
left: -100%;
}


/* /HEADER */





.blog__title{
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
    margin-left: 21px;
  }

.post {
    background-color: #fff;
    margin: 0 0 30px 0;
}
.post:last-child{
    margin: 0 0 0 0;
}

.post__content {
    background-color:#fff;
    min-height: 85px; 
    text-align: start;
    padding: 32px 23px;
}
.post__title a {
    font-weight: 700;
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    
}


.post__title{
    margin-bottom: 36px;
}
.post__time {
    display: flex;
    margin-bottom: 20px;
}


.post__time time::after{
    content: '';
    margin-left: 30px;
    height: 21px;
    border: #000 solid 1px;
    background-color: #000;
}
.post__text {
    font-weight: 400;
    font-size: 20px;
    margin-left: 25px;
    color: #8695A4;
}
.post__paragraph{
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}


/* FOOTER */

.footer {
    padding: 51px 0 0 0;
}
.social {
}
.social-list {
    display: flex;
    max-width: 350px;
    margin: 0 auto;
}
.social-list__item {
    margin-right: 35px;
    margin: 28px;
}

.social-list__item:last-child(4){
    margin: 0;

}
.social-list__link {
}
.social__text {
    text-align: center;
    margin-bottom: 60px;
}







